body * {
  /* border: 0.5rem solid teal; */
}

#root {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: center;
}

.load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.load p {
  font-size: 1.3rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
}

iframe {
  width: 12rem;
  height: 12rem;
  pointer-events: none;
}
